# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

__pycache__/

*.ipynb

# 屏蔽 swmm 计算结果文件
*.out
*.rpt
*.xlsx
*.inp
*.ini

# 屏蔽 test 文件夹下面的文件
test/

# 屏蔽 docker-volumes 文件
docker-volumes/